[submodule "sources_non_forked/jedi-vim"]
	path = sources_non_forked/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "sources_non_forked/python-mode"]
	path = sources_non_forked/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "sources_non_forked/linediff"]
	path = sources_non_forked/linediff
	url = git://github.com/AndrewRadev/linediff.vim.git
[submodule "sources_non_forked/vim-pandoc"]
	path = sources_non_forked/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "sources_non_forked/vim-pandoc-syntax"]
	path = sources_non_forked/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "sources_non_forked/vim-autoformat"]
	path = sources_non_forked/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "sources_non_forked/vim-easytags"]
	path = sources_non_forked/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "sources_non_forked/vim-misc"]
	path = sources_non_forked/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "sources_non_forked/YouCompleteMe"]
	path = sources_non_forked/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "sources_non_forked/ag.vim"]
	path = sources_non_forked/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "sources_non_forked/clang-format"]
	path = sources_non_forked/clang-format
	url = https://github.com/rhysd/vim-clang-format.git
[submodule "sources_non_forked/vimproc.vim"]
	path = sources_non_forked/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "sources_non_forked/vim-vebugger"]
	path = sources_non_forked/vim-vebugger
	url = https://github.com/idanarye/vim-vebugger.git
[submodule "sources_non_forked/vim-unimpaired"]
	path = sources_non_forked/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "sources_non_forked/linediff.vim"]
	path = sources_non_forked/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
